* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600|Raleway:400,500,600,800|Roboto:300,400');
@mixin font($font,
$size,
$weight,
$color) {
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

body {
    font-size: 16px;
    cursor: default;
    a:hover {
        text-decoration: none;
    }
}

.header {
    z-index: 2;
    position: absolute;
    width: 100%;
    .mobile {
        display: none;
    }
}

.logo {
    &__items {
        @include font('Raleway',
        2.125em,
        400,
        #fff);
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }
}

.nav {
    &__items {
        @include font('Montserrat',
        0.875em,
        300,
        #fff);
        text-transform: capitalize;
        margin-right: 23px;
        &:hover {
            color: #c7b299;
        }
    }
}

.slider {
    .carousel-item.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-fluid {
        padding: 0;
    }
    span.carousel-control-next-icon {
        background-image: url(../images/right.png);
        width: 41px;
        height: 73px;
    }
    span.carousel-control-prev-icon {
        background-image: url(../images/left.png);
        width: 41px;
        height: 73px;
    }
    .carousel-indicators {
        align-items: center;
        z-index: 1;
    }
    ol.carousel-indicators li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #98989a;
        margin: 0 5px;
    }
    ol.carousel-indicators .active {
        background-color: transparent;
        height: 16px;
        width: 16px;
        border: 2px solid #d3c1ad;
    }
    .carousel-caption.d-md-block {
        bottom: auto;
        left: auto;
        right: auto;
    }
}

.slider-caption {
    &__over-title {
        @include font('Raleway',
        2.25em,
        500,
        #fff);
    }
    &__title {
        @include font('Raleway',
        3.25em,
        800,
        #fff);
    }
    &__text {
        @include font('Montserrat',
        1em,
        300,
        #fff);
    }
}

.btn {
    text-transform: uppercase;
    @include font('Raleway',
    0.875em,
    800,
    #fff);
    padding: 20px 40px 17px;
    &:focus {
        box-shadow: none;
    }
}

.btn-start {
    background-color: #998675;
    border: none;
    border-bottom: 3px solid #736357;
    &:hover {
        background-color: #706154;
        border-bottom-color: #736357;
    }
}

.caption-form {
    &__position {
        margin-top: 50px;
    }
}

.services {
    margin: 70px 0;
}

.serv {
    text-align: center;
    cursor: default;
    &:hover>.serv__line {
        background-color: #c7b299;
    }
    &:hover>.serv__title {
        color: #c7b299;
    }
    &:hover>.serv__img-web {
        background-image: url(../images/web-h.svg);
    }
    &:hover>.serv__img-dev {
        background-image: url(../images/dev-h.svg);
    }
    &:hover>.serv__img-mark {
        background-image: url(../images/mark-h.svg);
    }
    &:hover>.serv__img-cust {
        background-image: url(../images/cust-h.svg);
    }
    &__img-web {
        background-image: url(../images/web.svg);
        width: 60px;
        height: 60px;
        background-position: center center;
        background-repeat: no-repeat;
        margin: auto;
    }
    &__img-dev {
        background-image: url(../images/dev.svg);
        width: 60px;
        height: 60px;
        background-position: center center;
        background-repeat: no-repeat;
        margin: auto;
    }
    &__img-cust {
        background-image: url(../images/cust.svg);
        width: 60px;
        height: 60px;
        background-position: center center;
        background-repeat: no-repeat;
        margin: auto;
    }
    &__img-mark {
        background-image: url(../images/mark.svg);
        width: 60px;
        height: 60px;
        background-position: center center;
        background-repeat: no-repeat;
        margin: auto;
    }
    &__img-dev {
        width: 60px;
        height: 60px;
    }
    &__img-cust {
        width: 60px;
        height: 60px;
    }
    &__img-mark {
        width: 60px;
        height: 60px;
    }
    &__title {
        @include font('Raleway',
        1.375em,
        600,
        #555555);
        margin-top: 20px
    }
    &__text {
        @include font('Montserrat',
        0.875em,
        300,
        #8c8c8c);
        margin-top: 10px;
    }
    &__line {
        border: none;
        width: 70px;
        height: 3px;
        background-color: #f1eee9;
        margin: auto;
        margin-top: 25px;
    }
}

.ideas {
    padding-top: 45px;
    background-color: #fbfaf8;
}

.title {
    @include font('Raleway',
    1.875em,
    600,
    #555555);
    text-align: center;
}

.subtitle {
    @include font('Montserrat',
    1em,
    300,
    #8c8c8c);
    text-align: center;
}

.idea-photo {
    &__img {
        max-width: 100%;
        margin-top: 30px;
    }
}

.boxes {
    background-image: linear-gradient(90deg, #231c1a, #271f1b, #362720, #412d23, #4c3326);
    padding: 45px 0;
    &__title {
        text-transform: capitalize;
        @include font('Raleway',
        1.75em,
        400,
        #fff);
    }
    &__subtitle {
        @include font('Montserrat',
        1.125em,
        600,
        #615855);
    }
    .boxes-form {
        text-align: center;
    }
}

.projects {
    padding: 80px 0;
    .carousel {
        padding-top: 50px;
    }
    .carousel-indicators {
        margin: 0;
        bottom: auto;
        top: 0;
        &__items {
            width: auto;
            height: auto;
            text-indent: 0;
            @include font('Montserrat',
            0.875em,
            300,
            #8c8c8c);
            padding: 10px 17px;
            border: 1px solid #ebebeb;
            border-radius: 3px;
            &_padding {
                padding: 10px 27px;
            }
            &:hover {
                background-color: #c5ae99;
                border: 1px solid #c5ae99;
                color: #fff;
            }
        }
        .active {
            background-color: #998675;
            border: 1px solid #998675;
            color: #fff;
        }
    }
    .caption-form {
        text-align: center;
    }
}

.photo {
    margin: auto;
    width: 350px;
    .photo-img {
        position: relative;
        background-color: #2f2f2f;
        width: 350px;
        height: 230px;
        overflow: hidden;
        &__img {
            max-width: 100%;
            opacity: 1;
        }
    }
    .photo-hover {
        position: absolute;
        top: 42%;
        left: 38%;
        width: 0;
        display: flex;
        height: 0;
        justify-content: space-between;
        transition: 0.2s;
        &__link {
            width: 29px;
            height: 29px;
            background: url(../images/link.svg) no-repeat center;
            cursor: pointer;
            &:hover {
                background-image: url(../images/link-h.svg);
            }
        }
        &__lupa {
            width: 29px;
            height: 29px;
            background: url(../images/lupa.svg) no-repeat center;
            cursor: pointer;
            &:hover {
                background-image: url(../images/lupa-h.svg);
            }
        }
    }
    .photo-text {
        position: relative;
        padding: 25px 0 25px 30px;
        background-color: #fbfaf8;
        transition: 0.3s;
        cursor: pointer;
        &__title {
            @include font('Raleway',
            1.25em,
            500,
            #c7b299);
        }
        &__subtitle {
            @include font('Montserrat',
            0.875em,
            300,
            #d1d1d1);
        }
        &::before {
            content: "";
            position: absolute;
            border: 25px solid;
            top: -38px;
            left: 9px;
            border-color: rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) #fbfaf8;
            transition: 0.3s;
        }
    }
}

.photo:hover {
    .photo-text {
        background-color: #362f2d;
        transition: 0.3s;
    }
    .photo-text::before {
        border-color: rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) #362f2d;
        transition: 0.3s;
    }
    .photo-text {
        .photo-text__title {
            color: #fff;
        }
    }
    .photo-text__subtitle {
        color: #c7b299;
    }
    .photo-img {
        .photo-img__img {
            opacity: 0.4;
        }
        .photo-hover {
            height: 29px;
            width: 80px;
            transition: 0.2s;
        }
    }
}

.video-block {
    padding: 0;
    height: 705px;
    &__teaser {
        width: 100%;
        height: 100%;
    }
}

.excellent {
    padding-top: 70px;
    .excellent-img {
        &__picture {
            max-width: 100%;
        }
    }
    .excellent-content {
        &__title {
            @include font('Raleway',
            1.875em,
            600,
            #555555);
            margin-top: 110px;
        }
        &__text {
            @include font('Montserrat',
            1em,
            300,
            #939393);
            margin-top: 30px;
        }
        .excellent-list {
            margin: 30px 0 0 45px;
            &:last-child {
                margin-bottom: 50px;
            }
            .excellent-item {
                white-space: nowrap;
                overflow: auto;
                .excellent-btn {
                    display: inline-block;
                    border: none;
                    background: none;
                    cursor: pointer;
                    vertical-align: text-bottom;
                    &:focus {
                        outline: none;
                    }
                }
                .excellent-text {
                    display: inline-block;
                    margin-left: 20px;
                    @include font('Montserrat',
                    1em,
                    300,
                    #939393);
                }
                .card {
                    @include font('Montserrat',
                    1em,
                    300,
                    #555555);
                }
            }
        }
    }
}

.card {
    white-space: normal;
}

.counters {
    background-image: linear-gradient(90deg, #231c1a, #271f1b, #362720, #412d23, #4c3326);
    padding: 50px 0 45px 0;
    .counters-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__icn {
            width: 60px;
            height: 60px;
            background: url(../images/counters-1.svg) no-repeat center;
            &_bg-coffee {
                background: url(../images/counters-2.svg) no-repeat center;
            }
            &_bg-blog {
                background: url(../images/counters-3.svg) no-repeat center;
            }
            &_bg-like {
                background: url(../images/counters-4.svg) no-repeat center;
            }
            &_bg-launch {
                background: url(../images/counters-5.svg) no-repeat center;
            }
        }
        &__numb {
            @include font('Montserrat',
            3em,
            200,
            #fff);
        }
        &__text {
            @include font('Montserrat',
            0.875em,
            300,
            #c7b299);
            text-transform: uppercase;
        }
        &__line {
            height: 2px;
            width: 30px;
            background-color: #fff;
            border: none;
        }
    }
}

.recent {
    padding: 70px;
    .recent-box {
        .recent-photo {
            position: relative;
            height: 220px;
            background-color: #2f2f2f;
            overflow: hidden;
            .recent-photo-img {
                max-width: 100%;
                width: 100%;
                height: 100%;
                transition: 0.5s;
            }
            .carousel-indicators {
                align-items: center;
            }
            .carousel-indicators li {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #758a9d;
                margin-right: 5px;
                margin-left: 0;
            }
            .carousel-indicators .active {
                background-color: transparent;
                width: 13px;
                height: 13px;
                border: 2px solid #d3c1ad;
            }
            .recent-data {
                position: absolute;
                top: 20px;
                left: 20px;
                .recent-day {
                    width: 50px;
                    height: 36px;
                    background-color: #363636;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    @include font('Montserrat',
                    1.5em,
                    300,
                    #fff);
                    text-align: center;
                    transition: 0.5s;
                }
                .recent-month {
                    width: 50px;
                    height: 25px;
                    background-color: #252525;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    @include font('Roboto',
                    0.75em,
                    400,
                    #fff);
                    text-align: center;
                    padding-top: 5px;
                    transition: 0.5s;
                }
            }
        }
        .recent-content {
            padding: 25px 0 25px 20px;
            border: 1px solid #f8f8f8;
            border-top: none;
            transition: 0.5s;
            .recent-title {
                @include font('Raleway',
                1.25em,
                500,
                #555555);
                transition: 0.5s;
            }
            .recent-text {
                padding-top: 15px;
                @include font('Montserrat',
                0.875em,
                300,
                #8c8c8c);
                transition: 0.5s;
            }
            .recent-link {
                padding-top: 20px;
                @include font('Montserrat',
                0.875em,
                300,
                #c7b299);
                &__item {
                    color: inherit;
                }
                .fa-play {
                    font-size: 0.5em;
                    line-height: 14px;
                    &__position {
                        vertical-align: middle;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    .recent-box:hover {
        .recent-photo-img {
            opacity: 0.3;
            transition: 0.3s;
        }
        .recent-data {
            .recent-day {
                background-color: #c7b299;
                transition: 0.5s;
            }
            .recent-month {
                background-color: #a48d72;
                transition: 0.5s;
            }
        }
        .recent-content {
            background-color: #362f2d;
            border: 1px solid #362f2d;
            border-top: none;
            transition: 0.5s;
            .recent-title {
                color: #c7b299;
                transition: 0.5s;
            }
            .recent-text {
                color: #fff;
                transition: 0.5s;
            }
        }
    }
}

.controls {
    display: flex;
    justify-content: center;
    .carousel-control-next,
    .carousel-control-prev {
        color: #fff;
        margin-top: 30px;
        position: relative;
        width: auto;
    }
    .pe-7s-angle-left-circle,
    .pe-7s-angle-right-circle {
        font-size: 1.875em;
        color: #bda9a9;
        &:hover {
            color: #c7b299;
        }
    }
}

.partners {
    padding: 120px 0;
    background-image: url(../images/logo-block.png);
    .partners-block {
        text-align: center;
    }
}

.footer {
    padding: 70px 0;
    background-color: #191919;
    &__text {
        padding-top: 25px;
        @include font('Montserrat',
        0.875em,
        300,
        #555555);
    }
    .footer-link {
        padding-top: 15px;
        &__item {
            @include font('Montserrat',
            0.875em,
            300,
            #d1d1d1);
            line-height: 14px;
            .fa-play {
                font-size: 0.5em;
                &__position {
                    vertical-align: middle;
                    margin-left: 5px;
                }
            }
        }
    }
    .footer-box {
        &__position {
            margin-top: 20px;
        }
        &__title {
            @include font('Raleway',
            1.5em,
            300,
            #fff);
        }
        .footer-post {
            padding-top: 20px;
            &__data {
                @include font('Montserrat',
                0.75em,
                400,
                #363636);
                &_color-white {
                    color: #fff;
                }
                &_padding-top-10 {
                    padding-top: 10px;
                }
            }
            &__text {
                padding-top: 10px;
                @include font('Montserrat',
                0.875em,
                300,
                #515151);
                &_color-brown {
                    color: #bba890;
                }
                &_padding-top-0 {
                    padding-top: 0px;
                }
            }
            &__text-blue {
                color: #02b4e4;
            }
            &__text-brown {
                color: #747474;
            }
            &__line {
                margin: 0;
                background-color: #252525;
                margin-top: 20px;
                height: 1px;
                border: none;
            }
        }
        .footer-box-img {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .footer-img {
                width: 130px;
                height: 92px;
                margin-top: 10px;
                overflow: hidden;
                &__item {
                    max-width: 100%;
                }
            }
        }
    }
}

.copyright {
    padding: 40px 0;
    background-color: #111111;
    .copyright-left {
        @include font('Montserrat',
        0.8125em,
        300,
        #515151);
        .copyright-link {
            color: #727272;
        }
        .copyright-policy,
        .copyright-support {
            color: #515151;
        }
        .copyright-faq {
            color: #c7b299;
        }
    }
    .copyright-right {
        @include font('Montserrat',
        0.8125em,
        300,
        #515151);
        .copyright-theme,
        .copyright-market {
            color: #959595;
        }
    }
}

@media screen and (max-width: 1200px) {
    .nav {
        &__items {
            margin-right: 15px;
        }
    }
    .excellent {
        .excellent-content {
            &__title {
                margin-top: 70px;
            }
        }
    }
    .partners {
        padding: 20px 0;
    }
    .footer {
        .footer-box {
            &__title {
                text-align: center;
            }
            .footer-box-img {
                justify-content: center;
            }
        }
    }
    .copyright {
        padding: 20px 0;
        .copyright-left, .copyright-right {
            font-size: 0.75em;
        }
    }
}

@media screen and (max-width: 991px) {
    .header {
        .container {
            display: none;
        }
        .mobile {
            display: block;
        }
    }
    .boxes {
        &__title {
            font-size: 1.4em;
        }
    }
    .video-block {
        height: 450px;
    }
    .excellent {
        .excellent-content {
            &__title {
                margin-top: 0px;
            }
            &__text {
                font-size: 1.3em;
            }
            .excellent-list {
                margin: 15px 0 0 0;
                .excellent-item {
                    .excellent-text {
                        margin-left: 5px;
                        font-size: 1em;
                    }
                    .card {
                        font-size: 1em;
                    }
                }
            }
        }
    }
    .recent {
        .subtitle {
            font-size: 1.2em;
        }
        .recent-box {
            .recent-content {
                .recent-title {
                    font-size: 1.3em;
                }
                .recent-text,
                .recent-link {
                    font-size: 1.2em;
                }
            }
        }
    }
    .footer {
        padding: 20px 0;
        .container {
            .row {
                .col-lg-3:nth-child(1) {
                    margin-top: 10px;
                }
            }
            .footer-box {
                .footer-box-img {
                    justify-content: space-evenly;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .slider {
        .slider-caption {
            &__over-title {
                font-size: 1.7em;
            }
            &__title {
                font-size: 1.5em;
            }
            &__text {
                font-size: 1em;
            }
        }
        .btn {
            padding: 10px 20px;
        }
        .caption-form__position {
            margin-top: 20px;
        }
    }
    .services {
        margin: 20px 0;
    }
    .boxes-form {
        .btn {
            padding: 15px 25px;
        }
    }
    .projects {
        padding: 20px 0;
    }
    .video-block {
        height: 400px;
    }
}

@media screen and (max-width: 767px) {
    .boxes {
        padding: 20px 0;
        &__title {
            text-align: center;
        }
        .boxes-form {
            margin-top: 15px;
        }
    }
    .projects {
        .carousel-indicators {
            &__items {
                padding: 10px 9px;
                &_padding {
                    padding: 10px 15px;
                }
            }
        }
    }
    .excellent {
        .excellent-img {
            display: none;
        }
        .excellent-content {
            &__title {
                text-align: center;
            }
            &__text {
                font-size: 1.2em;
            }
        }
    }
    .partners {
        background-image: none;
        background-color: #000;
    }
}

@media screen and (max-width: 703px) {
    .mobile {
        .nav {
            flex-direction: column;
            align-items: center;
            &__items {
                padding: 3px 0;
                margin: 0;
            }
        }
    }
    .carousel-control-next,
    .carousel-control-prev {
        display: none;
    }
    .video-block {
        height: 350px;
    }
    .excellent-content {
        padding: 0 10px;
    }
}

@media screen and (max-width: 575px) {
    .slider {
        .slider-caption {
            &__over-title {
                font-size: 1.4em;
            }
            &__title {
                font-size: 1.1em;
            }
            &__text {
                font-size: 0.875em;
            }
        }
    }
    .footer__title {
        text-align: center;
    }
    .footer-box {
        margin: 15px;
    }
}